
@import widgets._
		
@main(Messages("community")) {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/community.css")" />
	
	<div class="col-xs-3">
		<ul class="list-group sidebar-nav-v1">
                <li class="list-group-item"><a href="feature_grid.html">Grid Layout</a></li>
                <li class="list-group-item active">
                    <span class="badge badge-green">New</span>                    
                    <a href="feature_boxes.html">Content Boxes</a>
                </li>
                <li class="list-group-item"><a href="feature_typography.html">Typography</a></li>
                <li class="list-group-item">
                    <span class="badge badge-red">New</span>                    
                    <a href="feature_tagline_boxes.html">Tagline Boxes</a>
                </li>
                <li class="list-group-item"><a href="feature_buttons.html">Buttons</a></li>
                <li class="list-group-item">
                    <span class="badge">New</span>                                        
                    <a href="feature_icons.html">Icons</a>
                </li>
                <li class="list-group-item"><a href="feature_thumbails.html">Thumbails</a></li>
                <li class="list-group-item"><a href="feature_components.html">Components</a></li>
                <li class="list-group-item">
                    <span class="badge badge-blue">New</span>                    
                    <a href="feature_accardion_and_tabs.html">Accardion and Tabs</a>
                </li>
                <li class="list-group-item"><a href="feature_navigations.html">Navigations</a></li>
                <li class="list-group-item"><a href="feature_tables.html">Tables</a></li>
                <li class="list-group-item"><a href="feature_forms.html">Forms</a></li>
                <li class="list-group-item">
                    <span class="badge badge-sea">New</span>                    
                    <a href="feature_testimonials.html">Testimonials</a>
                </li>
            </ul>
	</div>

	<div class="col-xs-9">
		<div class="widget-box transparent">
			<div class="widget-header">
				<h4 class="lighter">我加入的社区</h4>
	
				<div class="widget-toolbar no-border">
					<a data-toggle="modal" href="#new-community" class="btn-new-mail">
						<button class="btn btn-xs btn-primary no-border"><i class="icon-plus"></i>&nbsp;创建新社区</button>
					</a>
				</div>
			</div>
	
			<div class="widget-body">
				<div class="widget-main padding-6 no-padding-left no-padding-right">
					<div class="row">
						<div class="col-xs-4">
			                <div class="search-blocks search-blocks-top-sea">
			                    <div class="row">
			                        <div class="col-md-4 search-img">
			                            <img class="img-responsive" src="@{routes.Assets.at("images/gallery/ubuntu.jpg")}" alt="">
			                            <ul class="list-unstyled">
			                               <li><i class="icon-user"></i>1888位</li>
			                            </ul>
			                            <!-- <button class="btn btn-primary btn-mini"><i class="icon-plus"></i>加入</button> -->
			                        </div>
			                        <div class="col-md-8">
			                            <h2><a href="#">IBM Tivoli社区社</a></h2>
			                            <span class="label label-small label-pink">Larger</span>&nbsp;<span class="label label-small label-inverse">Larger</span>
			                            <p class="muted"><i>Tivoli社区主要服务IBM Tivoli相关的产品，主要包括IBM TSM, IBM TPC等产品系列</i></p>
			                          </div>
			                    </div>                            
			                </div>
			            </div>
						<div class="col-xs-4">
			                <div class="search-blocks search-blocks-top-sea">
			                    <div class="row">
			                        <div class="col-md-4 search-img">
			                            <img class="img-responsive" src="@{routes.Assets.at("images/gallery/web.jpg")}" alt="">
			                            <ul class="list-unstyled">
			                               <li><i class="icon-user"></i>胡敏</li>
			                               <li><i class="icon-map-marker"></i> 北京</li>
			                            </ul>
			                        </div>
			                        <div class="col-md-8">
			                            <h2><a href="#">IBM Tivoli社区社区</a></h2>
			                            <span class="label label-small label-pink">Larger</span>&nbsp;<span class="label label-small label-inverse">Larger</span>
			                            <p>Tivoli社区主要服务IBM Tivoli相关的产品，主要包括IBM TSM, IBM TPC等产品系列</p>
			                          </div>
			                    </div>                            
			                </div>
			            </div>
			            <div class="col-xs-4">
			                <div class="search-blocks search-blocks-top-sea">
			                    <div class="row">
			                        <div class="col-md-4 search-img">
			                            <img class="img-responsive" src="@{routes.Assets.at("images/gallery/nexus.jpg")}" alt="">
			                            <ul class="list-unstyled">
			                               <li><i class="icon-user"></i>胡敏</li>
			                               <li><i class="icon-map-marker"></i> 北京</li>
			                            </ul>
			                        </div>
			                        <div class="col-md-8">
			                            <h2><a href="#">IBM Tivoli社区社区</a></h2>
			                            <span class="label label-small label-pink">Larger</span>&nbsp;<span class="label label-small label-inverse">Larger</span>
			                            <p>Tivoli社区主要服务IBM Tivoli相关的产品，主要包括IBM TSM, IBM TPC等产品系列</p>
			                          </div>
			                    </div>                            
			                </div>
			            </div>
					</div>
					<div class="row">
						<div class="col-xs-4">
			                <div class="search-blocks search-blocks-top-sea">
			                    <div class="row">
			                        <div class="col-md-4 search-img">
			                            <img class="img-responsive" src="@{routes.Assets.at("images/gallery/ubuntu.jpg")}" alt="">
			                            <ul class="list-unstyled">
			                               <li><i class="icon-user"></i>1888位</li>
			                            </ul>
			                            <!-- <button class="btn btn-primary btn-mini"><i class="icon-plus"></i>加入</button> -->
			                        </div>
			                        <div class="col-md-8">
			                            <h2><a href="#">IBM Tivoli社区社</a></h2>
			                            <span class="label label-small label-pink">Larger</span>&nbsp;<span class="label label-small label-inverse">Larger</span>
			                            <p class="muted"><i>Tivoli社区主要服务IBM Tivoli相关的产品，主要包括IBM TSM, IBM TPC等产品系列</i></p>
			                          </div>
			                    </div>                            
			                </div>
			            </div>
						<div class="col-xs-4">
			                <div class="search-blocks search-blocks-top-sea">
			                    <div class="row">
			                        <div class="col-md-4 search-img">
			                            <img class="img-responsive" src="@{routes.Assets.at("images/gallery/web.jpg")}" alt="">
			                            <ul class="list-unstyled">
			                               <li><i class="icon-user"></i>胡敏</li>
			                               <li><i class="icon-map-marker"></i> 北京</li>
			                            </ul>
			                        </div>
			                        <div class="col-md-8">
			                            <h2><a href="#">IBM Tivoli社区社区</a></h2>
			                            <span class="label label-small label-pink">Larger</span>&nbsp;<span class="label label-small label-inverse">Larger</span>
			                            <p>Tivoli社区主要服务IBM Tivoli相关的产品，主要包括IBM TSM, IBM TPC等产品系列</p>
			                          </div>
			                    </div>                            
			                </div>
			            </div>
			            <div class="col-xs-4">
			                <div class="search-blocks search-blocks-top-sea">
			                    <div class="row">
			                        <div class="col-md-4 search-img">
			                            <img class="img-responsive" src="@{routes.Assets.at("images/gallery/nexus.jpg")}" alt="">
			                            <ul class="list-unstyled">
			                               <li><i class="icon-user"></i>胡敏</li>
			                               <li><i class="icon-map-marker"></i> 北京</li>
			                            </ul>
			                        </div>
			                        <div class="col-md-8">
			                            <h2><a href="#">IBM Tivoli社区社区</a></h2>
			                            <span class="label label-small label-pink">Larger</span>&nbsp;<span class="label label-small label-inverse">Larger</span>
			                            <p>Tivoli社区主要服务IBM Tivoli相关的产品，主要包括IBM TSM, IBM TPC等产品系列</p>
			                          </div>
			                    </div>                            
			                </div>
			            </div>
					</div>
				</div>
			</div>
		</div>
		
			<!-- Start Modal List -->
		<div class="modal fade" id="new-community" tabindex="-1" style="display: none;" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<form class="form" style="margin-bottom: 0;" method="post"
							action="@{routes.Community.create()}" accept-charset="UTF-8" enctype="multipart/form-data" id="communityForm" name="communityForm">
							
					<div class="modal-header">
						<button aria-hidden="true" class="close" data-dismiss="modal"
							type="button">×</button>
						<h4 class="modal-title" id="myModalLabel">添加新社区</h4><div class="hide" id="loader"><i class="icon-spinner icon-spin orange bigger-125"></i></div>
					</div>
					<div class="modal-body">
						<input name="authenticity_token" type="hidden">
							<div class="row">
								<div class="col-xs-4">
									<input type="file" name="logo" id="logo">
								</div>
								<div class="vspace"></div>
								<div class="col-xs-8">
									<div class="form-group">
										<label for="name">社区名称(<span class="text-danger">*</span>)</label> 
										<span class="block input-icon input-icon-right">
											<input class="form-control" id="name" name="name" placeholder="Community Name" type="text">
										</span>
									</div>
									<div class="form-group">
										<label for="tags">社区标签(<span class="text-danger">*</span>)</label>
										<span class="block input-icon input-icon-right">
											<input class="form-control" id="tags" name="tags" placeholder="Tags" type="text" value="">
										</span>
									</div>
									<div class="form-group">
										<label for="description">社区描述(<span class="text-danger">*</span>)</label>
										<span class="block input-icon input-icon-right">
											<textarea class="autosize-transition form-control" id="bio" name="bio" placeholder="description" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 152px;"></textarea>
										</span>
									</div>
								</div>
							</div>
							<!-- <div class="row">
								<div class="col-xs-6">
									<div class="progress progress-small progress-striped active">
										<div class="progress-bar progress-bar-warning" style="width: 100%;"></div>
									</div>
								</div>
							</div> -->
						
	
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
						<button class="btn btn-primary" type="submit">Save changes</button>
					</div>
					</form>
				</div>
			</div>
		</div>
		<!-- End Modal List -->
		
		<div class="widget-box transparent">
			<div class="widget-header">
				<h4 class="lighter">热门社区</h4>
	
				<div class="widget-toolbar no-border">
					<a href="#" data-action="settings"> <i class="icon-cog"></i>
					</a> <a href="#" data-action="reload"> <i class="icon-refresh"></i>
					</a> <a href="#" data-action="collapse"> <i class="icon-chevron-up"></i>
					</a> <a href="#" data-action="close"> <i class="icon-remove"></i>
					</a>
				</div>
			</div>
	
			<div class="widget-body">
				<div class="widget-main padding-6 no-padding-left no-padding-right">
				</div>
			</div>
		</div>
	</div>
	<script src="@routes.Assets.at("javascripts/jquery.form.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/jquery.validate.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/ace-elements.min.js")"></script>
	<script type="text/javascript">
	<!--
	$(function() {
		
		 
		var options = {
			//	target : '#output1', // target element(s) to be updated with server response 
			//	beforeSubmit : showRequest, // pre-submit callback 
			//	success : showResponse
			// post-submit callback 
			beforeSubmit: validate

			// other available options: 
			//url:       url         // override for form's 'action' attribute 
			//type:      type        // 'get' or 'post', override for form's 'method' attribute 
			//dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
			//clearForm: true        // clear all form fields after successful submit 
			//resetForm: true        // reset the form after successful submit 

			// $.ajax options can be used here too, for example: 
			//timeout:   3000 
		};
		var validator = $("#communityForm").validate({
			rules:{
				name: {
					required: true
				},
				tags: {
					required: true
				},
				bio: {
					required: true
				}
			},
			messages: {
				name: {
					required: "@Messages("required.name")"
				},
				tags: {
					required: "@Messages("required.tags")"
				},
				bio: {
					required: "@Messages("required.bio")"
				}
			},
			errorElement: 'span',
		    errorClass: 'help-block',
		    errorPlacement: function(error, element) {
	            if(element.parent('.input-group').length) {
	                error.insertAfter(element.parent());
	            } else {
	                error.insertAfter(element);
	            }
	        },
		    highlight: function(element) {
		        $(element).closest('.form-group').addClass('has-error');
		    },
		    unhighlight: function(element) {
		        $(element).closest('.form-group').removeClass('has-error');
		    }
		});
		
		$('#name, #tags, #bio').blur(function(){
			validator.form();
		});
		
		function validate(){
			return validator.form();
		}

			// bind form using 'ajaxForm' 
		$('#communityForm').ajaxForm(options);

			$('#logo')
					.ace_file_input(
							{
								style : 'well',
								btn_choose : 'Change avatar',
								btn_change : null,
								no_icon : 'icon-picture',
								thumbnail : 'large',
								droppable : true,
								before_change : function(files, dropped) {
									var file = files[0];
									if (typeof file === "string") {//files is just a file name here (in browsers that don't support FileReader API)
										if (!(/\.(jpe?g|png|gif)$/i).test(file))
											return false;
									} else {//file is a File object
										var type = $.trim(file.type);
										if ((type.length > 0 && !(/^image\/(jpe?g|png|gif)$/i)
												.test(type))
												|| (type.length == 0 && !(/\.(jpe?g|png|gif)$/i)
														.test(file.name))//for android default browser!
										)
											return false;

										if (file.size > 110000) {//~100Kb
											return false;
										}
									}

									return true;
								}
							}).end().find('button[type=reset]').on(
							ace.click_event, function() {
								alert("click");
								$('#logo').ace_file_input('reset_input');
							});

		});
	//-->
	</script>
}
